.image{
  position: relative;
  left:30px;
  margin: auto;
  height: auto;
  overflow:hidden;
  justify-content: center;
  height:600px;
  width:400px;
}

.imageContainer {
  height: 500px;
  width: 500px;
  padding-left: 6%;
  display: flex;
}