.image{
  position: relative;
  left:30px;
  margin: auto;
  height: auto;
  overflow:hidden;
  justify-content: center;
  height:600px;
  width:400px;
}

.imageContainer {
  height: 70%;
  width: 32%;
  padding-left: 6%;
  display: flex;
}

.perimeter {
  max-width: auto;
  
  display: flex;
  flex-direction: column;
}

 .renderImage {
  height:auto;
  width: auto; 
  flex: 0 0 100%;
} 

 @media (min-width: 415px) {
  .perimeter {
    flex-direction: row;
  }
  
  .renderImage {
    flex: 0 0 50%;
  }
}

@media (min-width: 800px) {
  .renderImage {
    flex: 0 0 33.5%;
  }
}
